body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.search-container {
    max-width: 400px;
    margin: 0 auto;
}

.weather-container {
    max-width: 400px;
    margin: 0 auto;
}

.weather-container .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-container .card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.weather-container .card-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.weather-container .list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.weather-container .list-group-item:last-child {
    border-bottom: none;
}